#accordion {
margin: 10px;
background-color:#fff;
}

.collapse .acc-arrow img {
    transform: rotate(180deg);
}

.open .acc-arrow img {
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
}



.open .accordionItemContent {
    margin: 0;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 25px;
    color: #797979;
    border: #ebebeb solid 2px;
    border-top: none;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
   
}

.collapse .accordionItemContent {
    margin: 0;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
   opacity: 0;
   overflow: hidden;
   padding: 0 1em;
   max-height: 0;
   
   
}

.open .accordionItemHeading {
    margin:0;
    padding: 0 15px;
    color:white;
    background-color: #6848B4;
    min-height: 100px;
    border-bottom: #4C3483 solid 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapse .accordionItemHeading {
    margin:0;
    padding: 0 15px;
    color:white;
    background-color: #9D3EAE;
    min-height: 100px;
    border-bottom: #6E2B7B solid 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordionItem {
    margin-bottom: 5px;
    display: block;
}
